{% extends "index.twig" %}

{% block title %}
  <h1 class="mb-8 text-5xl font-semibold">{{ _e('Projects') }}</h1>
  <p class="text-lg">Quam sint, quod nihil pariatur ex reiciendis rerum? Vero qui at blanditiis eos, praesentium temporibus dolorum, ab ea voluptatum laboriosam, quasi sapiente!</p>
{% endblock %}

{% block content %}
  {{ parent() }}
{% endblock %}