{% extends "base.twig" %}

{% block content %}

  <div class="py-16 md:py-32 text-center bg-gray-200 w-full">
    <div class="container mx-auto px-4">
      <div class="md:w-3/4 mx-auto">
      {% block title %}
        <h1 class="mb-8 text-5xl font-semibold">{{ _e('News') }}</h1>
      {% endblock %}
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4">

    <div class="py-16">
      {% block posts %}
        {% for post in posts %}
          {% if post.post_type == 'post' %}
            <div class="md:flex md:-mx-4 md:flex-wrap">
          {% endif %}
          {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
          {% if post.post_type == 'post' %}
            </div>
          {% endif %}
        {% endfor %}
      {% endblock %}
    </div>

    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
  </div>

{% endblock %}
