{% extends "base.twig" %}

{% block content %}

    {% block pagebanner %}
    <div class="py-16 md:py-32 text-center bg-gray-200 w-full">
      <div class="container mx-auto px-4">
        <div class="md:w-3/4 mx-auto">
          <h1 class="mb-8 text-5xl font-semibold">{{ post.title }}</h1>
        </div>
      </div>
    </div>
    {% endblock %}

    {% for module in post.meta('modules') %}
      {% include "components/#{module.acf_fc_layout}.twig" with module %}
    {% endfor %}

{% endblock %}