{% extends "single.twig" %}

{% block pagebanner %}
  <div class="py-16 md:py-32 text-center bg-gray-200 w-full">
    <div class="container mx-auto px-4">
      <div class="md:w-3/4 mx-auto">
        <h1 class="mb-8 text-5xl font-bold">{{ post.title }}</h1>
        <p class="text-sm text-gray-600 mb-4 inline-flex items-center">
          <span class="mr-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="{{ post.post_date }}">{{ post.post_date|date('F j, Y') }}</time>
          </span>
          <span class="inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z"/></svg>
            <span>Location</span>
          </span>
        </p>
      </div>
    </div>
  </div>
  {% include "partial/breadcrumbs.twig" %}
{% endblock %}

{% block content %}
  {{ parent() }}
{% endblock %}