{% extends "components/base.twig" %}

{% block class %}m--image-row{% endblock %}

{% block inner %}
  <div class="container mx-auto px-4 my-8">
    <div class="md:flex md:-mx-4">
    {% set total = module.images|length %}
    {% for image in module.images %}
      {% set img = image.image %}
      {% if img %}
      <figure class="mb-8 md:px-4 md:flex-1">
        <img src="{{ img.sizes.square }}" srcset="{{ img.sizes.square|retina(2) }} 2x" alt="{{ img.alt }}">
        {% if img.caption %}
        <figcaption class="mt-2 text-xs text-gray-500">{{img.caption}}</figcaption>
        {% endif %}
      </figure>
      {% endif %}
    {% endfor %}
    </div>
  </div>
{% endblock %}