{% extends "components/base.twig" %}

{% block class %}m--image-row{% endblock %}

{% block inner %}
  <div class="md:flex -mx-4">
  {% set total = module.images|length %}
  {% for image in module.images %}
    {% set img = image.image %}
    {% if img %}
    <figure class="px-4">
      <img src="{{ img.sizes.square }}" srcset="{{ img.sizes.square|retina(2) }} 2x" alt="{{ img.alt }}">
      {% if img.caption %}
      <figcaption>{{img.caption}}</figcaption>
      {% endif %}
    </figure>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}