<section class="m--related pt-16 pb-8 lg:py-16 {{ module.theme|join(' ') }}">
  <div class="container mx-auto px-4">
    <header class="mb-8"><h2 class="font-bold text-2xl">{{ module.title ?: 'Related' }}</h2></header>
    <div class="md:flex md:-mx-4 md:flex-wrap">
    {% for post in module.items %}
      {% include "tease.twig" %}
    {% endfor %}
    </div>
  </div>
</section>