{% extends "components/base.twig" %}

{% block class %}m--video{% endblock %}

{% block inner %}
  <div class="wrap:sml">
    <div class="video">
      {{ module.video }}
    </div>
  </div>
{% endblock %}